/* Start Variables */
:root{
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box ;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Open Sans",sans-serif;
}
ul {
    list-style-type: none;
}
.container {
padding-right: 15px;
padding-left: 15px;
margin-left: auto;
margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}
/* Medium */ 
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}
/* End Global Rules */
/* Start Components */
.main-heading {
    text-align: center;
}
.main-heading h2 {
    position: relative;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    text-transform: uppercase;
}
.main-heading h2:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    background-color: var(--main-color);
    width: 120px;
    height: 2px;
}
.main-heading h2:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid black;
    bottom: -38px;
    background-color: var(--main-color);
}
.main-heading p {
    width: 610px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* End Components */
/* Start Header */
header {
position: fixed;
left: 0;
width: 100%;
background-color: #010923;
z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    left: 15px;
    width: calc(100% - 30px);
    background-color: #a2a2a2;
    bottom: 0px;
}
header .container .logo img {
    height: 70px;
}
header .container nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .container nav .toggle-menu {
    color: white;
}
@media (min-width: 768px){
    header .container nav .toggle-menu {
        display: none;
    } 
}
header .container nav ul {
    display: flex;
}
@media (max-width: 768px){
    header .container nav ul {
       display: none;
    }
    header .container nav .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.564)
    }
    header .container nav .toggle-menu:hover + ul li a {
       padding: 15px;
    }
}
header .container nav ul li a {
    display: block;
    padding: 40px 10px;
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header .container nav ul li a:hover,
header .container nav ul li a.active{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .container nav .form {
    width: 40px;
    height: 30px;
    margin-left: 30px;
    border-left: 1px solid white;
    position: relative;
}
header .container nav .form i {
    color: white;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 20px;
}
/* End Header */
/* Start Landing */
.landing {
min-height: 100vh;
background-color:rgba(0, 0, 0, 0.564);
background-image: url("../images/index-home.jpg");
background-size: cover;
position: relative;
}
.landing .overlay {
    background-color:rgba(0, 0, 0, 60%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.landing .text{
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    display: flex;
    justify-content: flex-end;
}
.landing .text .content {
    max-width: 500px;
}
@media (max-width: 767px){
    .landing .text {
        width: 100%;
    }
    .landing .text .content {
        max-width: 100%;
    }
}
.landing .text .content h2 {
   font-size: 28px;
   font-weight: normal;
   line-height: 1.6;
   margin-bottom: 20px;
}
.landing .text .content h2 span{
    color: #ddd;
   font-size: 24px;
}
.landing .text .content p {
    font-size: 14px;
    line-height: 2;
 }
 @media (max-width: 310px){
    .landing .text .content p {
        display: none;
    }
 }
 .landing .chang-background {
    position: absolute;
    top: 50%;
    color: #ddd;
    transform: translateY(-50%);
 }
 @media (max-width: 768px){
    .landing .chang-background {
        display: none;
    }
 }
 .landing .fa-angle-right {
    right: 20px;
 }
 .landing .fa-angle-left {
    left: 20px;
 }
 .landing .bullets {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    display: flex;
 }
 .landing .bullets li{
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;
    border-color: var(--main-color);
 }
 .landing .bullets li.active{
    background-color: var(--main-color);
 }
/* End Landing */
/* Start Services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.services .container .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    grid-row-gap: 60px;
    grid-column-gap: 40px;
}
@media (max-width: 768px){
    .services .container .services-container {
        display: block;
        max-width: 100%;
    }
 }
.services .container .services-container .services-box {
    display: flex;
    margin-bottom: 50px;
}
.services .container .services-container .services-box i {
    margin-right: 50px;
}
@media (max-width: 768px){
    .services .container .services-container .services-box{
        display: flex;
        flex-direction: column;
        text-align: center; 
    }
    .services .container .services-container .services-box i{
        margin: 0 0 30px;
    }
}
.services .container .services-container .services-box .text h3{
    margin-bottom: 30px;
    color: var(--main-color);
}
.services .container .services-container .services-box .text p{
   line-height: 2;
   color: #777;
}
/* End   Services */
/* Start Design */
.design {
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 100vh;
    position: relative;
    background-image: url(../images/design.jpg);
    background-size: cover;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.design::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color:rgba(0, 0, 0, 75%);
}
.design .image,
.design .text {
    z-index: 2;
    flex: 1;
}
.design .image {
    position: absolute;
    left: 4%;
}

.design .text{
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
    top: 50%;
    width: 50%;
    position: absolute;
    transform: translateY(-50%);
    right: 0;
}
.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.design .text ul li {
padding: 15px 0;
text-align: center;
}
.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f390";
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}
@media (max-width: 767px){
    .design .text {
     display: flex;
     position: absolute;
     flex-direction: column;
     top: 50%;
     transform: translateY(-50%);
     height: 60%;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    }
     .design .image {
        display: none;
    }
}
/* End Design */
/* Start Portfolio */
.portfolio {
padding-top: var(--section-padding);
padding-bottom: var(--section-padding);
}
.container .shuffle {
display: flex;
justify-content: center;
}
.container  .shuffle li {
    padding: 10px;
}
.container .shuffle .active {
    background-color: var(--main-color);
    color: white;
}
.portfolio .images-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .images-container .box {
    position: relative;
    overflow: hidden;
}
.portfolio .images-container .box:hover .caption {
   bottom: 0;
}
.portfolio .images-container .box:hover img {
    transform: rotate(3deg) scale(1.1);
 }
@media (min-width: 768px){
    .portfolio .images-container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px){
    .portfolio .images-container .box {
        flex-basis: 25%;
    }
}
.portfolio .images-container .box img{
    max-width: 100%;
    max-height: 100%;
    transition: 0.3s;
}
.portfolio .images-container .box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    bottom: -100%;
    width: 100%;
    transition: 0.3s;
}
.portfolio .images-container .box .caption h4 {
    font-weight: bold;
    margin-bottom: 10px
}
.portfolio .images-container .box .caption p {
    color: var(--main-color);
}
.portfolio  .more {
    text-decoration: none;
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    margin: 30px auto;
    width: fit-content;
    text-transform: uppercase;
}
/* End Portfolio */
/* Start Video */
.video {
    position: relative;
}
.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 40%)
}
.video video {
    max-width: 100%;
}
.video .text {
position: absolute;
width: 100%;
top: 50%;
transform: translateY(-50%);
background-color: var(--transparent-color);
color: white;
padding: 50px;
text-align: center;
}
@media (max-width: 767px){
    .video .text {
        height: 100%;
    }
}
.video .text h2{
margin-bottom: 20px;
text-transform: uppercase;
font-weight: normal;
}
.video .text p {
    margin-bottom: 20px;
}
.video .text button {
    background-color: black;
    color: white;
    border: none;
    text-transform: uppercase;
    padding: 10px 20px;
}
/* End Video */
/* Start Stat */
.stat {
    margin: 20px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background-image: url("../images/stat.jpg");
    background-size: cover;
    position: relative;
}
.stat::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 60%)
}
.stat .container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.stat .container .box {
    padding: 50px;
    color:white;
    background-color: var(--transparent-color);
}
@media (max-width: 767px) {
    .stat .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stat .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 992px){
    .stat .container .box {
        flex-basis: 25%;
    }
}
.stat .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    color: white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 0 auto 30px;
}
.stat .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}
.stat .container .box p {
    font-size: 14px;
}
@media(max-width: 768px){
    .stat .container .box {
        border-bottom: 1px solid #777;
    }
}
/* End Stat */
/* Start Skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.our-skills .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.our-skills .container > div > h3 {
    margin: 0 0 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
}
.our-skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}
.our-skills .container .testimonials .content {
display: flex;
margin-bottom: 30px;
align-items: center;
}
.our-skills .container .testimonials .content img {
width: 100px;
height: 100px;
border-radius: 50%;
margin-right: 50px;
}
@media (max-width: 767px) {
    .our-skills .container .testimonials .content {
        flex-direction: column;
        text-align: center;
    }
    .our-skills .container .testimonials .content img {
        margin: 0 auto 30px;
    }
}
.our-skills .container .testimonials .content .text {
line-height: 2;
border-bottom: solid 1px #ccc;
}
.our-skills .container .testimonials .content .text p {
color :#777;
text-align: right;
font-size: 14px;
margin-bottom: 10px;
}
.our-skills .container .testimonials .bullets {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.our-skills .container .testimonials .bullets li {
    width: 14px;
    height: 14px;
    border: solid 1px var(--main-color);
    border-radius: 50%;
    margin-left: 10px;
}
.our-skills .container .testimonials .bullets .active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.our-skills .container .skills .prog-holder {
margin-bottom: 40px;
}
.our-skills .container .skills .prog-holder h4 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 10px;
}
.our-skills .container .skills .prog-holder .prog {
    height: 30px;
    background-color: #dedadc;
    width: 100%;
}
.our-skills .container .skills .prog-holder .prog span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
    position: relative;
}
.our-skills .container .skills .prog-holder .prog span::after {
    position: absolute;
    content: attr(data-progress);
    top: -100%;
    right: -18px;
    background-color: black;
    color: white;
    padding: 4px 0;
    text-align: center;
    width: 40px;
    border-radius: 5px;
}
.our-skills .container .skills .prog-holder .prog span::before {
    content: "";
    border: solid black 5px;
    border-color: black transparent transparent transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: -5px;
    top: -5px;
}
/* End Skills */
/* Start quote */
.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/quote.jpg);
    background-size: cover;
    text-align: center;
    position: relative;
    color: white;
}
.quote::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 40%);
}
.quote .container {
position: relative;
}
.quote .container q {
    font-size: 30px;
    display: block;
    margin-bottom: 20px;
}
.quote .container q::before {
    font-family: "Font Awesome 5 Free";
    content: "\22";
    position: relative;
    font-weight: bold;
}
.quote .container q::after {
    font-family: "Font Awesome 5 Free";
    content: "\22";
    font-weight: bold;
    position: relative;
}
/* End quote */
/* Start Pricing */
.pricing {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.pricing .plans {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 30px;
}
.pricing .plans .plan {
    text-align: center;
    background-color: #fcfcfc;
}
.pricing .plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
    background-color: aliceblue;
}
.pricing .plans .plan .head h3 {
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.pricing .plans .plan .head span {
font-size: 60px;
font-weight: bold;
}
.pricing .plans .plan .head span::after{
    content: "/MO";
    position: relative;
    right: -15px;
    font-size: 20px
}
.pricing .plans .plan .head span::before{
    content: "$";
    position: relative;
    top: -40px;
    font-size: 25px;
    margin-right: 15px;
    font-weight: normal;
}
.pricing .plans .plan ul {
    border-bottom: 1px solid var(--main-color);
}
.pricing .plans .plan ul li {
    padding: 25px;
    position: relative;
}
.pricing .plans .plan ul li:not(:last-child)::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 120px;
    background-color: var(--main-color);
}
.pricing .plans .plan .foot a {
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid var(--main-color); 
    text-decoration: none;
}
.pricing  p {
 font-size: 20px;
 text-align: center;
 margin: 20px auto;
}
.pricing .container > a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--main-color);
    padding: 15px 30px;
    text-decoration: none;
    color: white;
}
/* End Pricing */
/* Start subscribe */
.subscribe {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    color: white;
    position: relative;
}
.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 60%)
}
.subscribe .container {
   position: relative;
   display: flex;
   align-items: center;
}
@media (max-width: 991px) {
    .subscribe .container {
        flex-direction: column;
    }
}
.subscribe form {
    display: flex;
    width: 500px;
    max-width: 100%;
    position: relative;
}
.subscribe form i {
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}
.subscribe form input[type="email"] {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--main-color);
    width: calc(100% - 130px);
    color: white;
}
.subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus{
    outline: none;
}
.subscribe form ::placeholder {
    color: white;
}
.subscribe p {
 margin-left: 50px;
 line-height: 2;
 text-align: center;
}
@media (max-width: 991px) {
    .subscribe p {
        margin: 30px 0 0;
    }
}
/* End Subscribe */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .content {
display: flex;
justify-content: space-between;
}
@media (max-width: 767px){
    .contact  .content {
        flex-direction: column;
    }
}
.contact .content form {
flex-basis: 70%;
}
.contact .content form .main-input {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    padding: 20px;
}
.contact .content form .main-input:focus {
    outline: none;
}
.contact .content form textarea.main-input {
    height: 200px;
}
.contact .content form input[type="submit"] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    display: flex;
    margin-left: auto;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
}
.contact .content .info {
    flex-basis: 25%;
}
@media (max-width: 767px){
    .contact .content .info {
        order: -1;
        text-align: center;
    }
}
.contact .content .info h4 {
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.contact .content .info .phone {
    display: block;
    margin-bottom: 10px;
    color: #777;
}
.contact .content .info h4:nth-of-type(2) {
    margin-top: 90px;
}
@media (max-width: 767px){
    .contact .content .info h4:nth-of-type(2){
        margin-top: 30px;
    }
}
.contact .content .info address {
    color: #777;
    line-height: 2;
}
@media (max-width: 767px){
    .contact .content .info address {
        margin-bottom: 30px;
    }
}
/* End Contact */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding));
    padding-bottom: calc(var(--section-padding));
    background-image: url(../images/footer.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    position: relative;
}
.footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%)
}
.footer .container {
    position: relative;
}
.footer .container img {
    margin-bottom: 20px;
}
.footer .container p:not(.copyright) {
    margin-bottom: 10px;
    text-transform: uppercase;
    padding: 20px;
    font-size: 22px;
    border-bottom: 1px solid white;
    width: fit-content;
    margin: 0 auto 20px;
}
.footer .container .social-icons i {
    font-size: 20px;
    padding: 10px 20px;
}
.footer .container .copyright {
    margin-top: 60px;
}
.footer .container .copyright span {
    color: var(--main-color);
    font-weight: bolder;
}
/* End Footer */
